
<div *ngIf="pool">
    <h2><span jhiTranslate="ipamApp.pool.detail.title">Pool</span> {{pool.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ipamApp.pool.name">Name</span></dt>
        <dd>
            <span>{{pool.name}}</span>
        </dd>
        <dt><span jhiTranslate="ipamApp.pool.subnet">Subnet</span></dt>
        <dd>
            <span>{{pool.subnet}}</span>
        </dd>
        <dt><span jhiTranslate="ipamApp.pool.region">Region</span></dt>
        <dd>
            <div *ngIf="pool.regionId">
                <a [routerLink]="['/region', pool.regionId]">{{pool.regionId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pool/'+ pool.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
