<div>
    <h2>
        <span jhiTranslate="ipamApp.pool.home.title">Pools</span>
        <button class="btn btn-primary float-right jh-create-entity create-pool" [routerLink]="['/', { outlets: { popup: ['pool-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="ipamApp.pool.home.createLabel">
            Create new Pool
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pools">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="ipamApp.pool.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="subnet"><span jhiTranslate="ipamApp.pool.subnet">Subnet</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="regionId"><span jhiTranslate="ipamApp.pool.region">Region</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="vrfId"><span jhiTranslate="ipamApp.pool.vrf">Vrf</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let pool of pools ;trackBy: trackId">
                <td><a [routerLink]="['../pool', pool.id ]">{{pool.id}}</a></td>
                <td>{{pool.name}}</td>
                <td>{{pool.subnet}}</td>
                <td>
                    <div *ngIf="pool.regionId">
                        <a [routerLink]="['../region', pool.regionId  ]" >{{pool.regionId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="pool.vrfId">
                        <a [routerLink]="['../vrf', pool.vrfId  ]" >{{pool.vrfId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pool', pool.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pool/'+ pool.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pool/'+ pool.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
