<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myVLanPoolLabel" jhiTranslate="ipamApp.vLanPool.home.createOrEditLabel">Create or edit a V Lan pool</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!vLanPool.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="vLanPool.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ipamApp.vLanPool.name" for="field_name">V Lan pool name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="vLanPool.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ipamApp.vLanPool.domain" for="field_l2-domain">L2 Domain</label>
            <select class="form-control" id="field_l2-domain" name="l2-domain" [(ngModel)]="vLanPool.domainId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="l2DomainOption.id" *ngFor="let l2DomainOption of l2Domains; trackBy: trackL2DomainById">{{l2DomainOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
