<div>
    <h2>
        <span jhiTranslate="ipamApp.ipV4Address.home.title">Ip V 4 Addresses</span>
        <button class="btn btn-primary float-right jh-create-entity create-ip-v-4-address" [routerLink]="['/', { outlets: { popup: ['ip-v-4-address-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="ipamApp.ipV4Address.home.createLabel">
            Create new Ip V 4 Address
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ipV4Addresses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ipV4Address"><span jhiTranslate="ipamApp.ipV4Address.ipV4Address">Ip V 4 Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="vLanId"><span jhiTranslate="ipamApp.ipV4Address.vLan">V Lan</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="poolId"><span jhiTranslate="ipamApp.ipV4Address.pool">Pool</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ipV4Address of ipV4Addresses ;trackBy: trackId">
                <td><a [routerLink]="['../ip-v-4-address', ipV4Address.id ]">{{ipV4Address.id}}</a></td>
                <td>{{ipV4Address.ipV4Address}}</td>
                <td>
                    <div *ngIf="ipV4Address.vLanId">
                        <a [routerLink]="['../v-lan', ipV4Address.vLanId  ]" >{{ipV4Address.vLanId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="ipV4Address.poolId">
                        <a [routerLink]="['../pool', ipV4Address.poolId  ]" >{{ipV4Address.poolId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../ip-v-4-address', ipV4Address.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ip-v-4-address/'+ ipV4Address.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ip-v-4-address/'+ ipV4Address.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="ipV4Addresses && ipV4Addresses.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
